.admin {
      padding-top: 50px;
      background: rgba(217, 234, 238, 0.521);
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      padding-right: 500px;
      justify-content: space-around;
      align-content: flex-start;
      overflow: auto;
    }

    .productform {
      padding-left: 400px;
      padding-bottom: 50px;
    }