.newsletter {
      padding-top: 50px;
      background: rgba(217, 234, 238, 0.521);
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      padding: 40px;
      justify-content: space-around;
      align-content: flex-start;
      overflow: auto;
      font-size: 17px;
    }

    .newsletter  body {
      font-family: libre baskerville;
      border: 20px solid #bdc3c7;
      padding:20px;
      max-width:700px;
      width:80%;
      margin: 20px auto;
}

.newsletter > quote {
      border-left: 5px solid grey;
      padding-left: 5px;
}

.newsletter > date {
      color: blue;
      text-transform: uppercase;
      letter-spacing:0.2rem;
}
.newsletter > post {
      margin:20px;
      
}
.newsletter > h4 {
color:darkblue;
font-size:2.0rem;
}

.newsletter > hr {
      height: 12px;
      border: 0;
      box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  }